<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
    <% if notification.read == false %>
     <%= "未読" %>
    <% end %>
      <!-- <span><%= notification.read %></span> -->
      <p>
        <%= notification.comment.user.try(:name) %>さんが
      あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
      </p>
      <!-- 通知のクリックで通知が既読に -->
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
