<div class="container">
 <h2>ユーザー</h2>

 <% @users.each do |user| %>
  <div class="container-child col-md-2 col-sm-4 col-xs-6">
  
   <%= profile_img(user) %>
   <%= user.email %><br>
   <%= link_to "詳細ページ", user_path(user) %>
   <%= render 'follow_form' , user: user %>
   </div>

 <% end %>

<% if user.id != current_user.id %>
  <li>
    <div class="item">
      <%= link_to user.name, user %>
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
    </div>
    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
  </li>
<% end %>

    


 </div>

